<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Quản lý người dùng và chuyên mục</title>
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='styles/simple-sidebar.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='newspaper/img/core-img/favicon.ico') }}" rel="icon">
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse fixed" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li>
              <a class="btn btn-info" class="nav-link" href="#Users">Người dùng</a>
            </li>
            <li>
              <a class="btn btn-primary" class="nav-link" href="#sections">Chuyên mục</a>
            </li>
            <li>
              <a class="btn btn-danger" href="/admin/logout">Đăng xuất</a>
            </li>
          </ul>
        </div>
      </nav>

      {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <!-- <strong>Title</strong> --> {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-12" id="User">
              <h1>Người dùng</h1><a href="#addModal" data-toggle="modal" class="btn btn-primary">Thêm người dùng</a>

              <!-- Modal HTML -->
              <div id="addModal" class="modal fade">
                <div class="modal-dialog modal-confirm">
                  <div class="modal-content">
                    <div class="modal-header">

                      <h4 class="modal-title">Thêm người dùng</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                      <FORM method="post" action="/admin/user/add">
                        Tên đăng nhập:
                        <input type="text" class="form-control" name="Username">
                        Mật khẩu:
                        <input type="text" class="form-control" name="password">
                        Tên:
                        <input type="text" class="form-control" name="name">
                        Vị trí:
                        <select class="form-control" name="position">
                          <option>Nhà văn</option>
                          <option>Biên tập</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-info" data-dismiss="modal">Hủy</button>
                      <input type="submit" class="btn btn-primary" value="Add">
                      </FORM>
                    </div>
                  </div>
                </div>
              </div>

              <hr>
              <form method="POST" action="/admin/user/search">
                <input type="text" name="search" placeholder="Tìm kiếm người dùng" class="form-control">
              </form> <br>

              <table class="table">
                <tr>
                  <th>Mã</th>
                  <th>Tên đăng nhập</th>
                  <th>Mật khẩu</th>
                  <th>Tên</th>
                  <th>Vị trí</th>
                  <th>Trạng thái</th>
                  <th>Các hành động</th>
                </tr>
                {% for i in data %}
                <tr>
                  <td>{{i[0]}}</td>
                  <td>{{i[1]}}</td>
                  <td>{{i[2]}}</td>
                  <td>{{i[3]}}</td>
                  <td>{{i[4]}}</td>
                  {% if i[5] == "Kích hoạt" %}
                  <td>
                    <div style="padding-left: 24px;">🔵</div>
                  </td>
                  {% else %}
                  <td>
                    <div style="padding-left: 24px;">🔴</div>
                  </td>
                  {% endif %}
                  <td>
                    <a href="#id{{i[0]}}" class="btn btn-info" data-toggle="modal">Chỉnh sửa</a>
                    {% if i[5] == "Kích hoạt" %}<a href="/admin/user/{{i[0]}}/Bất%20hoạt"
                      class="btn btn-danger">Bất hoạt</a>
                    {%else%}<a href="/admin/user/{{i[0]}}/Kích%20hoạt" class="btn btn-success">Kích
                      hoạt</a>{%endif%}
                    <a href="#userdelete{{i[0]}}" class="btn btn-danger" data-toggle="modal">Xóa</a>
                  </td>
                </tr>

                  <!-- Modal HTML -->
                  <div id="id{{i[0]}}" class="modal fade">
                    <div class="modal-dialog modal-confirm">
                      <div class="modal-content">
                        <div class="modal-header">

                          <h4 class="modal-title">Cập nhật người dùng</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                          <FORM method="post" action="/admin/user/{{i[0]}}/update">
                            Tên đăng nhập:
                            <input type="text" value="{{i[1]}}" class="form-control" disabled=True>
                            Mật khẩu:
                            <input type="text" value="{{i[2]}}" class="form-control" name="password">
                            Tên:
                            <input type="text" value="{{i[3]}}" class="form-control" name="name">
                            Vị trí:
                            <select class="form-control" name="position">
                              <option {% if i[4]=="Nhà văn" %}selected{% endif %}>Nhà văn</option>
                              <option {% if i[4]=="Biên tập" %}selected{% endif %}>Biên tập</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-info" data-dismiss="modal">Hủy</button>
                          <input type="submit" class="btn btn-primary" value="Cập nhật">
                          </FORM>
                        </div>
                      </div>
                    </div>
                  </div>

                <!-- Modal HTML -->
                <div id="userdelete{{i[0]}}" class="modal fade">
                  <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Xóa người dùng</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      </div>
                      <div class="modal-body">
                        <FORM method="post" action="/admin/user/{{i[0]}}/delete">
                          Xóa người dùng
                          <input type="text" value="{{i[1]}}" class="form-control" name="username" disabled="True">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Hủy</button>
                        <input type="submit" class="btn btn-primary" value="Xóa">
                        </FORM>
                      </div>
                    </div>
                  </div>
                </div>

                {% endfor %}
              </table>

            </div>


            <div class="col-md-12" id="sections">
              <h1>Chuyên mục</h1>
              <a href="#addSection" data-toggle="modal" class="btn btn-primary">Thêm chuyên mục</a><br>
              <hr>
              <!-- Modal HTML -->
              <div id="addSection" class="modal fade">
                <div class="modal-dialog modal-confirm">
                  <div class="modal-content">
                    <div class="modal-header">

                      <h4 class="modal-title">Thêm chuyên mục</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                      <FORM method="post" action="/admin/section/add">
                        Chuyên mục:
                        <input type="text" class="form-control" name="sectionname">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-info" data-dismiss="modal">Hủy</button>
                      <input type="submit" class="btn btn-primary" value="Thêm">
                      </FORM>
                    </div>
                  </div>
                </div>
              </div>
              <table class="table">
                <tr>
                  <th>Mã</th>
                  <th>Tên</th>
                  <th>Các hành động</th>
                </tr>
                {% for i in sections %}
                <tr>
                  <td>{{i[0]}}</td>
                  <td>{{i[1]}}</td>
                  <td><a href="#section{{i[0]}}" class="btn btn-info" data-toggle="modal">Chỉnh sửa</a>
                    <a href="#sectiondelete{{i[0]}}" class="btn btn-danger" data-toggle="modal">Xóa</a>
                  </td>
                </tr>
                <!-- Modal HTML -->
                <div id="section{{i[0]}}" class="modal fade">
                  <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                      <div class="modal-header">

                        <h4 class="modal-title">Cập nhật chuyên mục</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      </div>
                      <div class="modal-body">
                        <FORM method="post" action="/admin/section/update/{{i[0]}}">
                          Tên:
                          <input type="text" value="{{i[1]}}" class="form-control" name="sectionname">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Hủy</button>
                        <input type="submit" class="btn btn-primary" value="Cập nhật">
                        </FORM>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal HTML -->
                <div id="sectiondelete{{i[0]}}" class="modal fade">
                  <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                      <div class="modal-header">

                        <h4 class="modal-title">Xóa chuyên mục</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      </div>
                      <div class="modal-body">
                        <FORM method="post" action="/admin/section/delete/{{i[0]}}">
                          Xóa chuyên mục này?
                          <input type="text" value="{{i[1]}}" class="form-control" name="sectionname" disabled="True">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Hủy</button>
                        <input type="submit" class="btn btn-primary" value="Xóa">
                        </FORM>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>
  <br>
  <br>
  <br>





  <!-- Footer -->
  <footer class="page-footer bg-light border-top font-small">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Bản quyền:
      <a href="https://www.facebook.com/nguyen.phuongchang"> Chang Chang</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->



  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>


  <!-- Menu Toggle Script -->

  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>







</body>

</html>