<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Tìm kiếm</title>


      <link href="{{ url_for('static', filename='newspaper/style.css') }}" rel="stylesheet">
     <link href="{{ url_for('static', filename='newspaper/img/core-img/favicon.ico') }}" rel="icon">
     <link href="{{ url_for('static', filename='jssocial/jssocials.css') }}" rel="stylesheet">
     <link href="{{ url_for('static', filename='jssocial/jssocials-theme-flat.css') }}" rel="stylesheet">



</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="/"><img src="/static/img/logo-bao.png" alt=""></a>
                                <div class="text-white">Trang báo điện tử của Chang</div>
                            </div>
                            <!-- Argibank -->
                            <div >
                                <a href="https://www.agribank.com.vn/" target="_blank"  >
                                    <img src="/static/img/logo-argi.jpg" style="padding: 20px 20px 0px 40px;">
                                </a>
                            </div>

                            <!-- Login Search Area -->
                            <div class="login-search-area d-flex align-items-center">
                               
                                <!-- Search Form -->
                                <div class="search-form">
                                    <form action="/Tìm kiếm/" method="get">
                                        <input type="search" name="content" class="form-control" placeholder="Tìm kiếm">
                                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="newspaper-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="newspaperNav">

                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="/static/img/logo-bao.png" alt=""></a>
                        </div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/"><img src="/static/img/iconHome.png"></a></li>
                                    {% for section in sections %}
                                    <li><a href="/Chuyên mục/{{section['name']}}/{{section['id_section']}}/1">{{section['name']}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <div class="my-3">
        <div class="container">
        </div>
    </div>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Featured Post Area Start ##### -->
    <div class="featured-post-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8">
                    <div class="row">

                        <!-- Single Featured Post -->
                        <div class="col-12 col-lg-12"> 
                            <h1>Các bài viết liên quan đến "<i>{{headline}}</i>"</h1>            
                            {% for data in homedata %}
                            <div class="single-blog-post small-featured-post d-flex">
                                {% if data['photo'] %}
                                <div class="post-thumb">
                                    <a href="/{{data['section_name']}}/{{data['id_article']}}//{{data['headline']}}"><img src="/static/img/{{data['photo']}}" alt=""></a>
                                </div>
                                {% endif %}
                                <div class="post-data">
                                    <div class="post-meta">
                                        <a href="/{{data['section_name']}}/{{data['id_article']}}//{{data['headline']}}" class="post-title">
                                            <h6>{{data['headline']}}</h6>
                                        </a>
                                        <p class="post-date">{{data['last_edited']}}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div></div><br>
                        </div>

                    </div>

                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Featured Post -->

                    {% for data in subdata %}
                    <div class="single-blog-post small-featured-post d-flex">
                        {% if data['photo'] %}
                        <div class="post-thumb">
                            <a href="/{{data['section_name']}}/{{data['id_article']}}//{{data['headline']}}"><img src="/static/img/{{data['photo']}}" alt=""></a>
                        </div>
                        {% endif %}
                        <div class="post-data">
                            <a href="/Chuyên mục/{{data['section_name']}}/{{data['id_section']}}/1" class="post-catagory">{{data['section_name']}}</a>
                            <div class="post-meta">
                                <a href="/{{data['section_name']}}/{{data['id_article']}}//{{data['headline']}}" class="post-title">
                                    <h6>{{data['headline']}}</h6>
                                </a>
                                <p class="post-date">{{data['last_edited']}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div></div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Featured Post Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">

        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-12">
                        <div class="footer-widget-area mt-80">
                            <!-- Footer Logo -->
                            <div class="footer-logo">
                                <a href="/"><img src="/static/img/logo-bao.png" alt=""></a>
                                <div class="text-white"></div>
                            </div>
                            <!-- List -->
                            <ul class="list">
                                <li><a href="mailto:chang@gmail.com">changnt82@gmail.com</a></li>
                                <li><a href="tel:+0123456789">Đường dây nóng: 0347541678</a></li>
                                <li><a href="tel:+0123456789">Liên hệ quảng cáo: 0347541678</a></li>
                                <li><a href="https://www.facebook.com/nguyen.phuongchang">www.facebook.com/nguyen.phuongchang"</a></li>
                            </ul>
                        </div>
                    </div>

  

                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Copywrite -->
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Bản quyền thuộc về Báo điện tử Hải Dương</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
      <script src="{{ url_for('static', filename='newspaper/js/jquery/jquery-2.2.4.min.js') }}"></script>
    <!-- Popper js -->
          <script src="{{ url_for('static', filename='newspaper/js/bootstrap/popper.min.js') }}"></script>
    <!-- Bootstrap js -->
     <script src="{{ url_for('static', filename='newspaper/js/bootstrap/bootstrap.min.js') }}"></script>
    <!-- All Plugins js -->
     <script src="{{ url_for('static', filename='newspaper/js/plugins/plugins.js') }}"></script>
    <!-- Active js -->
       <script src="{{ url_for('static', filename='newspaper/js/active.js') }}"></script>

         <script src="{{ url_for('static', filename='jssocial/jssocials.min.js') }}"></script>


        <script>
 $("#share").jsSocials({
            shares: ["email", "twitter", "facebook", "linkedin", "pinterest"]
        });
</script>
</body>

</html>